@using MediaService.PL.Models.ObjectViewModels.DirectoryViewModels
@using MediaService.PL.Models.ObjectViewModels.FileViewModels
﻿@model MediaService.BLL.DTO.DirectoryEntryDto

@{
    ViewBag.Title = "Home Page";
    ViewBag.ChildModel = Model;
}

@*-----Context Menu-----*@




<div class="container indexMenu">
    <div class="row">
        <div class="col-xs-4">
            <input type="search" placeholder="Поиск файлов" class="custom-search-input"/>
        </div>
        <div class="col-xs-4">
            <h2 class="indexTitle text-center">LuxStorage</h2>
        </div>
        <div class="col-xs-4">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<hr/>
<div class="row customNav">
    <div class="col-xs-7">
        <div class="customBreadcrumb">

            <ul style="list-style-type:none; white-space: nowrap; float:left ">
                @Html.ActionLink("Мои файлы", "Index", "Home")

                @while (ViewBag.ChildModel.ParentId != null)
                {

                    <li style="float:right;  display: inline-block">
                        <img width="10" height="12"
                             src="/fonts/icons-buttons/next.svg" />
                        @Html.ActionLink((string)ViewBag.ChildModel.Name, "Index", "Home", new { dirId = ViewBag.ChildModel.Id }, null)
                    </li>
                    ViewBag.ChildModel = ViewBag.ChildModel.Parent;
                }

            </ul>
            <img width="12" height="10"
                 src="/fonts/icons-buttons/next.svg" style="transform: rotate(90deg);">
        </div>

    </div>
    <div class="col-xs-5">
        <div>
            <a class="pull-right" href="#">
                <img src="~/fonts/icons-buttons/tile.svg" id="tileImg"/>
            </a>
            <a class="pull-right" href="#">
                <img src="~/fonts/icons-buttons/list.svg" id="listImg"/>
            </a>
        </div>
        <img src="~/fonts/icons-buttons/next.svg" class="pull-right" id="dropdownImg"/>
        <a class="pull-right btnLink" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            По дате создания
        </a>
        <ul class="dropdown-menu dropdown-menu-right pull-right" aria-labelledby="navbarDropdownMenuLink">
            <li>
                <a class="dropdown-item" href="#">По дате добавления</a>
                @Html.ActionLink("По дате добавления", "Index", "Home", new { dirId = Model.ParentId }, new { @class =  "dropdown-item" })
            </li>
            <li>
                <a class="dropdown-item" href="#">По размеру</a>
            </li>
        </ul>
        <a class="pull-right btnLink" href="#">Настройки доступа </a>
    </div>
</div>
<div class="row dirListView">
    <div class="col-xs-9">
        Название
    </div>
    <div class="col-xs-3">
        Теги
    </div>

</div>
<div class="row dirListView">
    <div class="col-xs-9" >

        <div id='directories'></div>

        <div id="selectable"> 
        <div id='files'></div>
    </div>
        @Html.ActionLink("Back", "Index", "Home", new {dirId = Model.ParentId}, null)
    </div>
    <div class="col-xs-3">
        <div id="dirListMenu">
            <a href="#uploadFileModal" class="btn btn-primary  uploadFileBtn pull-right" rel="modal:open">Загрузить файл</a>
            <div id="uploadFileModal" style="display: none">
                @{ Html.RenderPartial("~/Views/File/_UploadFiles.cshtml", new UploadFilesViewModel {ParentId = Model.Id}); }
            </div>
            <a href="#createDirModal" class="btn btn-primary  createDirBtn pull-right" rel="modal:open">Создать папку</a>
            <div id="createDirModal" style="display: none">
                @{ Html.RenderPartial("~/Views/Directory/_CreateDirectory.cshtml", new CreateDirectoryViewModel {ParentId = Model.Id}); }
            </div>

        </div>
    </div>
</div>
<div id="deleteDirectoryModal" style="display:none; width: 500px; height: 500px;">
</div>

<div id="renameDirectoryModal" style="display:none; width: 500px; height: 500px;">   
</div>

<div id="fileFromLinkModal" style="display:none; width: 500px; height: 500px;">
</div>

<div id="renameFileModal" style="display:none; width: 500px; height: 500px;">
</div>

<div id="addTagModal" style="display:none; width: 500px; height: 500px;">
</div>

<div id="deleteFileModal" style="display:none; width: 500px; height: 500px;">
</div>
@section Scripts {

    <script>
        $(document).ready(function() {
            $("#Upload").click(function() {
                var formData = new FormData();
                var totalFiles = document.getElementById("FileUpload").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("FileUpload").files[i];
                    formData.append("FileUpload", file);
                    formData.append('Tags[' + i + ']', $("#tag" + i).val());
                }
                formData.append("ParentId","@Model.Id");
                $.ajax({
                    type: "POST",
                    url: '/File/UploadFilesAsync',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $('#files').html(data.html);

                    },
                    error: function (error) {
                        alert("errror");
                    }
                });
            });
        });

        updateList = function() {
            var input = document.getElementById('FileUpload');
            var output = document.getElementById('fileList');


            output.innerHTML = '';
            for (var i = 0; i < input.files.length; ++i) {
                output.innerHTML += '<div class="row uploadFilesRow">';
                output.innerHTML += '<div class="col-xs-8" style="padding: 0"><img src="/fonts/icons-buttons/success.svg" height="20" width="20" class="uploadSuccessImg"/><img src="/fonts/icons-buttons/picture.svg" height="20" width="20" style="margin-right:18px"/>'
                    + input.files.item(i).name; + '</div>';
                output.innerHTML += '<div class="col-xs-4" style="padding: 0"><input type="text" class="tags" id = "tag' + i + '" placeholder="+Добавить тег""></div >';
                output.innerHTML += '<div class="col-xs-12" style="padding: 0"><hr /></div>';

                output.innerHTML += '</div>';


            }
        }

        $.ajax({
            url: '@Url.Action("DirectoriesList", "Directory", new DirectoriesListViewModel {ParentId = Model.Id})',
            type: "GET",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#directories').html(data);
            }
        });

        $.ajax({
            url: '@Url.Action("FilesList", "File", new FilesListViewModel {ParentId = Model.Id})',
            type: "GET",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#files').html(data);
            }
        });
        @*------------------ Directory Context Menu-------------------------*@
        $(function () {
            $.contextMenu({
                selector: '.directoryEntry',
                callback: function (key, opt) {
                    var m =  key;
                    switch (m) {
                        case "edit":
                            var Id = opt.$trigger.attr("id");
                            var Name = opt.$trigger.text();
                             var ParentId = "@Model.Id";
                            $("#renameDirectoryModal").modal();
                            $.ajax({
                                 type: "GET",
                                 data: Id, Name,
                                 url: '@Url.Action("Rename", "Directory")?Id=' + Id + '&Name='+ Name +'&ParentId=' + ParentId,
                                 datatype:'html',
                                 success: function (data) {
                                     $('#renameDirectoryModal').html(data);
                                 }
                             })
                            break;

                        case "downloadZip":
                            var formData = new FormData();
                            formData.append('Id', opt.$trigger.attr("id"));
                            formData.append('Name', opt.$trigger.text());
                            $("#fileFromLinkModal").modal();
                            $.ajax({
                                 type: "POST",
                                 cache: false,
                                 contentType: false,
                                 processData: false,
                                 data: formData,
                                 url: '@Url.Action("Download", "Directory")',
                                 success: function (data) {
                                     $('#fileFromLinkModal').html(data);
                                 }
                             })
                            break;

                        case "delete":
                            var Id = opt.$trigger.attr("id");
                            var ParentId = "@Model.Id";
                            $("#deleteDirectoryModal").modal();
                            $.ajax({
                                 type: "GET",
                                 data: Id, ParentId,
                                 url: '@Url.Action("Delete", "Directory")?Id=' + Id + '&ParentId=' + ParentId,
                                 datatype:'html',
                                 success: function (data) {
                                     $('#deleteDirectoryModal').html(data);
                                 }
                             })
                            break;
                        default:
                            alert("Упс :(");
                    }
                },
                items: {
                    "edit": { name: "Переименовать" },
                    "sep1": "---------",
                    "downloadZip": { name: "Скачать ZIP-архив" },
                    "sep3": "---------",
                    "delete": { name: "Удалить папку" }


                }
            });

        });
        @*------------------ Files Context Menu-------------------------*@
        $(function () {
            $.contextMenu({
                selector: '.fileEntry',
                callback: function (key, opt) {
                    var m =  key;
                    switch (m) {
                        case "edit":
                            var Id = opt.$trigger.attr("id");
                            var Name = opt.$trigger.text();
                            var ParentId = "@Model.Id";
                            $("#renameFileModal").modal();
                            $.ajax({
                                 type: "GET",
                                 data: Id, Name,
                                 url: '@Url.Action("Rename", "File")?Id=' + Id + '&Name='+ Name +'&ParentId=' + ParentId,
                                 datatype:'html',
                                 success: function (data) {
                                     $('#renameFileModal').html(data);
                                 }
                             })
                            break;
                        case "addTag":
                            var FileId = opt.$trigger.attr("id");
                            var Name = opt.$trigger.text();
                            var ParentId = "@Model.Id";
                            $("#addTagModal").modal();
                            $.ajax({
                                 type: "GET",
                                 data: FileId, Name, ParentId,
                                 url: '@Url.Action("AddTag", "File")?FileId=' + FileId + '&Name=' + Name + '&ParentId=' + ParentId,
                                 datatype:'html',
                                 success: function (data) {
                                     $('#addTagModal').html(data);
                                 }
                             })
                            break;
                        case "download":
                            break;

                       case "delete":
                            var FileId = opt.$trigger.attr("id");
                            var ParentId = "@Model.Id";
                            $("#deleteFileModal").modal();
                            $.ajax({
                                 type: "GET",
                                 data: FileId, ParentId,
                                 url: '@Url.Action("Delete", "File")?FileId=' + FileId + '&ParentId=' + ParentId,
                                 datatype:'html',
                                 success: function (data) {
                                     $('#deleteFileModal').html(data);
                                 }
                             })
                            break;
                        default:
                            alert("Упс :(");
                    }
                },
                items: {
                    "edit": { name: "Переименовать" },
                    "sep1": "---------",
                    "addTag": { name: "Добавить тег" },
                    "sep2": "---------",
                    "download": { name: "Скачать файл" },
                    "sep3": "---------",
                    "delete": { name: "Удалить файл" }


                }
            });

        });



        $(function () {
            $("#selectable").selectable({
                stop: function () {
                    var result = $("#select-result").empty();
                    $(".ui-selected.folderItems").each(function () {
                        var ids = $("a.ui-selected.folderItems").attr("id")
                        result.append(" #"+ ids);
                    });
                }
            });
        });
    </script>
}
