@using MediaService.BLL.DTO
@using MediaService.PL.Models.ObjectViewModels.DirectoryViewModels
@using MediaService.PL.Models.ObjectViewModels.FileViewModels
﻿@model DirectoryEntryDto
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4">
        <input type="search" value="Поиск файлов" class="searchField"/>
    </div>
    <div class="col-xs-4">
        <h1>LuxStorage</h1>
    </div>
    <div class="col-xs-4">
        @Html.Partial("_LoginPartial")
    </div>
</div>
<hr/>

@if (ViewBag.FirstTime == "true")
{
    <section id="GeneralView">
        @Html.Partial("_WelcomePartial", Model as DirectoryEntryDto)
    </section>
}
else
{
    <section id="WelcomeView">
        @Html.ActionLink("Create folder", "Create", "Directory", null, new {parentId = Model.Id})
        <div class="row folderList">
            <div id='directories'></div>
        </div>
        <div class="row filesList">
            <div id='files'></div>
        </div>
        @using (Ajax.BeginForm("UploadFiles", "File", null, new AjaxOptions { UpdateTargetId = "files", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("ParentId", Model.ParentId as Guid?)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="file" id="FileUpload" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="btnUpload" value="Upload Files"/>
                    </div>
                </div>
            </div>
        }
        @*todo: В идеале от этого нужно избавиться, а верхняя форма должна работать.*@
        @*А еще лучше, чтобы все папко/файловые действия были в их вьюхах, а на этой вызывать только Index()*@
        <input type="file" id="FileUpload" multiple/>
        <input type="button" id="btnUpload" value="Upload Files"/>
    </section>
}

@section Scripts {

    <script>
        $.ajax({
            url: '@Url.Action("DirectoriesList", "Directory", new DirectoriesListViewModel {ParentId = Model.Id})',
            type: "GET",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#directories').html(data);
            }
        });

        $.ajax({
            url: '@Url.Action("FilesList", "File", new FilesListViewModel { ParentId = Model.Id })',
            type: "GET",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#files').html(data);
            }
        });
        //$(function(){
        //    $(document).ajaxStart(function () {
        //    //show a progress modal of your choosing
        //        window.showProgressModal('loading');
        //    });
        //    $(document).ajaxStop(function () {
        //    //hide it
        //        window.hideProgressModal();
        //    });

        //    $.ajax({
        //        url: '/Home/DirectoriesList',
        //        dataType: 'html',
        //        success: function(data) {
        //            $('#directories').html(data);
        //        }
        //    });
        //});

    </script>
    <script>
        $(document).ready(function() {
            $('#btnUpload').click(function() {

                // Checking whether FormData is available in browser  
                if (window.FormData !== undefined) {

                    var fileUpload = $("#FileUpload").get(0);
                    var files = fileUpload.files;
                    // Create FormData object  
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object  
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    //files[1].creationTime
                    // Adding one more key to FormData object
                    //fileData.append('folderId', @Model.Id);

                    $.ajax({
                        url: '/File/UploadFiles?parentId=@Model.Id',
                        type: "POST",
                        contentType: false, // Not to set any content header  
                        processData: false, // Not to process data  
                        data: fileData,
                        success: function(data) {
                            //todo: Think about what to do after upload
                            $('#files').html(data);
                        },
                        error: function(err) {
                            alert(err.statusText + "BadLuck");
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
        });
    </script>
}