@using MediaService.PL.Models.ObjectViewModels
﻿@model MediaService.BLL.DTO.DirectoryEntryDto
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4">
        <input type="search" value="Поиск файлов" class="searchField"/>
    </div>
    <div class="col-xs-4">
        <h1>LuxStorage</h1>
    </div>
    <div class="col-xs-4">
        @Html.Partial("_LoginPartial")
    </div>
</div>
<hr/>

@if (ViewBag.FirstTime == "true")
{
    <section id="GeneralView">
        @Html.Partial("_WelcomePartial")
    </section>
}
else
{
    <section id="WelcomeView">
        @Html.Partial("_CreateFolder", new CreateFolderViewModel { Name = "", ParentId = Model.Id })
        <div class="row folderList">
            <div id='directories'></div>
        </div>
        <div class="row filesList">
            <div id='files'></div>
        </div>
        @using (Ajax.BeginForm("UploadFiles", "Home", new AjaxOptions { UpdateTargetId = "files", HttpMethod = "POST"}, new { enctype = "multipart/form-data" }))
        {
            <input type="file" id="FileUpload" multiple/>
            <input type="button" id="btnUpload" value="Upload Files"/>
        }

        <input type="file" id="FileUpload" multiple/>
        <input type="button" id="btnUpload" value="Upload Files"/>
    </section>
}

@section Scripts {

    <script>
        $.ajax({
            url: '@Url.Action("DirectoriesList", "Home", new {parentId = Model.Id})',
            type: "POST",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#directories').html(data);
            }
        });

        $.ajax({
            url: '@Url.Action("FilesList", "Home", new {parentId = Model.Id})',
            type: "POST",
            contentType: "text/html; charset=utf-8",
            success: function(data) {
                $('#files').html(data);
            }
        });
        //$(function(){
        //    $(document).ajaxStart(function () {
        //    //show a progress modal of your choosing
        //        window.showProgressModal('loading');
        //    });
        //    $(document).ajaxStop(function () {
        //    //hide it
        //        window.hideProgressModal();
        //    });

        //    $.ajax({
        //        url: '/Home/DirectoriesList',
        //        dataType: 'html',
        //        success: function(data) {
        //            $('#directories').html(data);
        //        }
        //    });
        //});

    </script>
    <script>
        $(document).ready(function() {
            $('#btnUpload').click(function() {

                // Checking whether FormData is available in browser  
                if (window.FormData !== undefined) {

                    var fileUpload = $("#FileUpload").get(0);
                    var files = fileUpload.files;
                    // Create FormData object  
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object  
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    //files[1].creationTime
                    // Adding one more key to FormData object
                    //fileData.append('folderId', @Model.Id);

                    $.ajax({
                        url: '/Home/UploadFiles?parentId=@Model.Id',
                        type: "POST",
                        contentType: false, // Not to set any content header  
                        processData: false, // Not to process data  
                        data: fileData,
                        success: function(data) {
                            //todo: Think about what to do after upload
                            $('#files').html(data);
                        },
                        error: function(err) {
                            alert(err.statusText + "BadLuck");
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
        });
    </script>
}