﻿@model IEnumerable<MediaService.BLL.DTO.DirectoryEntryDto>

@ViewBag.parentId

@foreach (var item in Model)
{
    <div class="row">
        <div class="folderItems">
            <img class="dirImg" width="18" height="18"
                 src="/fonts/icons-buttons/folder.svg"/>
            @Html.ActionLink(item.Name, "Index", "Home", new { dirId = item.Id }, null) |
            
            @Html.ActionLink("Rename", "Rename", "Directory", new { id = item.Id, parentId = item.ParentId, name = item.Name }, null) |
            @Html.ActionLink("Delete", "Delete", "Directory", new { id = item.Id }, null) |

            @using (Html.BeginForm("Download", "Directory", FormMethod.Post))
            {
                @Html.Hidden("Id", item.Id)
                @Html.Hidden("Name", item.Name)
                <input type="submit" value="Загрузить Zip-архив" />
            }

            @*@using (Ajax.BeginForm("Download", "Directory", new AjaxOptions { HttpMethod = "Post"}))
            {
                @Html.Hidden("Id", item.Id)
                @Html.Hidden("Name", item.Name)
                <input type="submit" value="Загрузить Zip-архив" />
            }*@
        </div>
    </div>
}
