@model MediaService.PL.Models.AccountViewModels.RegisterViewModel
@{
    ViewBag.Title = "LuxStorage";
}

<h1>@ViewBag.Title</h1>
<h4>Добро пожаловать!</h4>
<div class="row">
    <div class="col-xs-4">
    </div>

        <div class="col-xs-4 authForms">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h3>Зарегистрируйтесь</h3>
                    <p class="text-center">
                        или @Html.ActionLink("Войдите в свой аккаунт", "Login")
                    </p>
                    @Html.AntiForgeryToken()

                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control", @placeholder = "Имя пользователя" })
                            @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтвердите пароль" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Зарегистрироваться" />
                            <input type="submit" value="Через FB" class="btn btn-primary btn-outline btn-block fbBtn" />
                            <input type="submit" value="Через Google" class="btn btn-primary btn-outline btn-block googleBtn" />
                        </div>
                    </div>
            }
 
    </div>
    <div class="col-xs-4">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
